<nav id="topNav" class="navbar navbar-default navbar-expand-lg navbar-dark navbar-fixed-top fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-bs-target="#bs-navbar" data-bs-toggle="collapse" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#first"><i class="ion-ios-analytics-outline"></i>Kenavo Chat</a>
      </div>
      <div class="navbar-collapse collapse" id="bs-navbar">
          <ul class="nav navbar-nav">
              <li>
                  <a class="page-scroll" href="#one">Intro</a>
              </li>
              <li>
                  <a class="page-scroll" href="#two">Rust</a>
              </li>
              <li>
                <a class="page-scroll" href="#three">Angular</a>
            </li>
              <li>
                  <a class="page-scroll" routerLink="/chat" routerLinkActive="active">Chat Application</a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
