@import "../../styles.scss";

li {
  font-size: 17px;
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Helvetica Neue';
  list-style: none;
}

app-footer {
  display: block;
  width: 100% !important;
}

.home-section {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.rust-section {
  background-color: black;
  color: white;
  padding-left: 35px;
}

.body-rust {
  display: flex;
  justify-content: center;
}

.block-part {
  display: inline-flex;
  flex-direction: column;
  min-height: 200px;
  margin: 10px;
  padding: 15px;
  border: 1px groove white;
}

.angular-section {
  background-color: #404042;
  color: white;
  padding: 10px;
  padding-left: 35px;
}

.title {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 20px;
  width: 100%;
  font-family: 'Questrial';
  text-align: center;
}

.part {
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}
