<app-navbar></app-navbar>
<div id="one" class="header-content">
  <div class="inner">
      <h1 class="cursive">Simple Web-Chat App</h1>
      <h4>A single page Application designed on Angular</h4>
      <hr>
  </div>
</div>
<div id="two" class="home-section rust-section">
  <h4 class="title">Discover a web-chat application powered by Rust</h4>
  <h5 class="subtitle">The web framework Actix</h5>
  <p><a href="https://actix.rs/">Actix-web</a> is a powerful and pragmatic framework. The server purpose is double here. </p>
  <div class="body-rust">
    <div class="block-part col-5">
      <p class="part">The first purpose is to serve the SPA front-end application.</p>
      <li>For this the server use the <a href="https://actix.rs/actix-web/actix_files/index.html">actix_files</a> crate to handle the statics files in the Angular SPA dist directories.</li>
      <li>With in one hand the <a href="https://actix.rs/actix-web/actix_files/struct.Files.html">actix_files::Files</a> struct.</li>
      <li>In the other hand the <a href="https://actix.rs/actix-web/actix_files/struct.NamedFile.html">actix_files::Named_Files</a> struct is used to served the index.html file which is the Angular SPA root file.</li>  
    </div>
    <div class="block-part col-5">
      <p class="part">The second purpose is to run a Web Socket server.</p>
      <li>This server used by the Angular SPA to handle the chat live messaging logic.</li>
      <li>The Chat Server Actor (<a href="https://docs.rs/actix-web-actors/3.0.0/actix_web_actors/">actix-web-actors</a>) is a System Service that runs in the same thread as the HttpServer/WS Listener.</li>
      <li>The implementation has been followed the example of <a href="https://github.com/jtara1/actix_examples/tree/master/websockets/chat-broker">jtara1.</a></li>
    </div>
  </div>
</div>
<div id="three" class="home-section angular-section">
  <h4 class="title">A Angluar SPA to render the all</h4>
  <h5 class="subtitle">The web-platform Angular v.12</h5>
  <p><a href="https://angular.io">Angular</a> is a platform for building mobile and desktop web applications.</p>
  <ul>
    <p class="part">The front-end handle two mains application mechanics : </p>
    <li>The first one is the application front-end routing. The <a href="https://angular.io/guide/router">Angular routing</a> allows to separate the application in component and easily associate them to url.</li>
    <li>Then the <a href="https://rxjs.dev/api/webSocket">rxjs/webSocket</a> handle the client side of the WebSocket Server. The WebSocketSubject constructor allows to open a link with the webSocket server and create a session while parameting the data transfered.</li>
  </ul>
</div>