app-footer {
  width: 100%;
}

.container {
  margin: 0;
}
.footer {
  width: 100%;
  background-color: black;
  padding: 25px;
}

.greeting {
  display: inline-block;
  text-align: center;
  color: white;
}

.social-media {
  display: inline-block;
  max-height: 100px;
  max-width: 250px;
}