<div class="footer">
  <div class="greeting col-7">
    <h4>Thanks for visiting !! Let's get in touch...</h4>
  </div>
  <!-- Section: Social media -->
  <div class="social-media col-3">
    <!-- Twitter -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/ClemBosch" role="button"><i class="fa fa-twitter" aria-hidden="true"></i></a>

    <!-- Google -->
    <a class="btn btn-outline-light btn-floating m-1" href="mailto: clem.boschet@gmail.com" role="button"><i class="fa fa-google" aria-hidden="true"></i></a>

    <!-- Linkedin -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/clementboschet/" role="button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

    <!-- Github -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/clemb08/kenavo-chat" role="button"><i class="fa fa-github" aria-hidden="true"></i></a>
  </div>
  <!-- Section: Social media -->
</div>

